/* Ryan Mills, 9/30/24 */

#wrapper { 
			margin-left: auto;
			margin-right: auto;
			width: 80%;
			background-color: #FFFFFF;
			min-width: 960px;
			max-width: 2048px;
			box-shadow: 3px 3px 3px #333333;
}

#homehero { height: 400px;
			background-image: url(homehero.jpg);
			background-repeat: no-repeat;
			background-size: 100%;}
			
#trackshero { height: 400px;
			background-image: url(trackshero.jpg);
			background-repeat: no-repeat;
			background-size: 100%;}
			
#facultyhero { height: 400px;
			background-image: url(facultyhero.jpg);
			background-repeat: no-repeat;
			background-size: 100%;}

main {padding: 1px 20px 20px 20px;
		display: block;
}

body {background-color: #0194b5;
	background-image: linear-gradient(to bottom, #FFFFFF, #0194b5);
	background-repeat: no-repeat;
	color: #555555;
	font-family: Arial, Helvetica, sans-serif;
}
h1 {font-family: Georgia, 'Times New Roman', serif;
	color: #FFFFFF;
	margin-bottom: 0;
	margin-top: 0;}
	
	
header {background: url(logo.png) right;
		background-repeat: no-repeat;
		height: 60px;
		text-align: center;
		padding-top: 15px;
		background-color: #29485d;}

nav {background-color: #FFFFFF;
	font-weight: bold;
	text-align: center;
	padding: 1em;
	}
	
nav a {text-decoration: none}

h2 {font-family: Georgia, 'Times New Roman', serif;
	color: #407386;
	text-shadow: 1px 1px #CCCCCC;
	}
	
h3 {font-family: Georgia, 'Times New Roman', serif;
	color: #29485d}
	
dt {color: #0194B5;}

ul {list-style-image: url(marker.gif);}

li {line-height: 1.5}

footer {font-size: 75%;
		font-style: italic;
		text-align: center;
		font-family: Georgia, 'Times New Roman', serif;
		padding: 2em;}
		
web {font-weight: bold}

contact id {font-size: 90%}


.web {color: #0194B5;}