/* Ryan Mills, 9/30/24 */

* { box-sizing: border-box;
	
}

#wrapper {background-color: red;

}

#Citadel { height:30em;
			background-image: url(Citadel.jpg);
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-position: center;}
			
#Andromeda { height: 28em;
			background-image: url(Andromeda.jpg);
			background-repeat: no-repeat;
			background-size: 100% 100%;}
			
#Normandy { height: 35em;
			background-image: url(Normandy.jpg);
			background-repeat: no-repeat;
			background-size: 100% 100%;}
			
#Crew { height: 35em;
			background-image: url(Mass_Effect_Crew.jpg);
			background-repeat: no-repeat;
			background-size: 100% 100%;}
			
#ME1 { height: 25em;
			background-image: url(ME1.jpg);
			background-repeat: no-repeat;
			background-size: 100% 100%;}
			
#ME2 { height: 25em;
			background-image: url(ME2.png);
			background-repeat: no-repeat;
			background-size: 100% 100%;}
			
#ME3 { height: 25em;
			background-image: url(ME3.jpg);
			background-repeat: no-repeat;
			background-size: 100% 100%;}
			
#MEA { height: 25em;
			background-image: url(MEA.jpg);
			background-repeat: no-repeat;
			background-size: 100% 100%;}

main {padding: 1px .4em .4em .4em;
		display: block;
		background-color: #1d3152;
		overflow: auto;	
}

body {
	background-image: linear-gradient(to right, #1d3152, #7a1d25);
	color: white;
	font-family: 'Lucida Console',Verdana, sans-serif;
}
h1 {
	font-family: Georgia, 'Times New Roman', serif;
	color: #FFFFFF;
	margin-bottom: 0;
	margin-top: 0;}
	
	
header {color: #FFFFFF;
		text-align: center;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		background-color: #111823;}

nav {background-color: #6b1929;
	font-weight: bold;
	text-align: center;
	padding: 0;
	}
	
nav a {text-decoration: none;
		padding: 1.5em;
		font-size: 120%;
		}

h2 {font-family: Verdana, 'Times New Roman', serif;
	color: white;
	text-shadow: 1px 1px black;
	text-align: center;
	background-color: #55b4e9;
	padding: .4em 1em;
	border: 2px solid #1d3152;
	
	}
	
h3 {font-family: Verdana, 'Times New Roman', serif;
	color: #55b4e9}
	
section h3 {text-align: center;}
	

nav ul{ list-style: none;
		margin: 0;
		font-size: 1.2em;
		padding-left: 0;
}

nav li { border-bottom: 1px black solid;
			background-color: #6b1929;
			font-family: Impact, 'Times New Roman', serif;
			font-size:1.5em;
}

nav a:link { color: #55b4e9;
}

nav a:visited { color: #111823;
}

nav a:hover { color: #2772c9;
}

header a:link{ text-decoration: none;
				color: #FFFFFF;
}

header a:visited { text-decoration: none;
					color: #FFFFFF;
}

header a:hover { color: #c6d02f 
}

main dl dt::before{list-style-type: none;
	content: url(Renegade_Paragon.png);
	margin-right: 10px;}

dd{margin-top:5px;
}
li {line-height: 1.5;
	}

footer {color: white;
		font-size: 75%;
		font-style: italic;
		text-align: center;
		font-family: Georgia, 'Times New Roman', serif;
		padding: 2em;
}

footer a:link {color: #f18f29;
}
		

.web {color: #55b4e9;
		font-weight: bold;}

.forms {text-align: center;}

.links {color:red;
		font-size: 20px}


@media (min-width: 800px) {
	
		body { background-image:url("Masseffectbackground.jpg");
		background-repeat: no-repeat;
		background-size:cover;
		background-position: center;
		}
		
		header {
		background: 
			url(Mass_Effect_logo.png),
			url(Spectre_logo.png),
			url(Alliance_logo.png);
		background-repeat: no-repeat;
		background-size: 27em auto, 6em, 6em;
		background-position:center center,
							calc(90% - 50px) center,
							calc(20% - 50px) center;
		height: 120px;
		padding-top: 30px;
		background-color: #111823;
		text-indent:-1000em;
		}
	
		
		nav { background-color: #6b1929;
				padding: 1em;
			
				
		}
		
		nav ul { display: flex;
					flex-direction: row;
					flex-wrap: nowrap;
					justify-content: space-around;
					list-style: none;
					
		}
		
		nav li { border-bottom: none;
		}
		
		section { margin-left: 2em;
					margin-right: 2em;
					flex: 1;
		}
		
		.flow {
			display: flex;
			flex-direction: row;
		}
		.flow section { flex: 1;
		}
		
	
}

@media (min-width: 1250px) {
	
	#wrapper { 	border: 2px solid #420d09;
			margin-left: auto;
			margin-right: auto;
			width: 80%;
			min-width: 960px;
			max-width: 2048px;
			box-shadow: 4px 4px 4px black;
			}
			
	body { background-image: url("Masseffectbackground.jpg");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
	}
			
	header {
		background: 
			url(Mass_Effect_logo.png),
			url(Spectre_logo.png),
			url(Alliance_logo.png);
		background-repeat: no-repeat;
		background-size: 27em auto, 6em, 6em;
		background-position:center center,
							calc(90% - 50px) center,
							calc(20% - 50px) center;
		height: 120px;
		padding-top: 30px;
		background-color: #111823;
		text-indent:-1000em;
		}
	
	h1 {font-size: 2em;
		letter-spacing: 0.2em;
		margin-right: 35%;
		margin-left: 3em;
		font-family: Georgia, 'Times New Roman', serif;
		color: #FFFFFF;
		margin-bottom: 0;
		margin-top: 0;
	}
	
	
}
